.model-list {
    /*width: 990px;*/
    margin-right: -10px;
    overflow: hidden;
}
.model-list li {
    position: relative;
    width: 235px;
    height: 258px;
    margin: 0 10px 10px 0;
    border: 1px solid #cdcdcd;
    background: #fff;
    float: left;
}
.activity-title {
    height: 14px;
    margin: 0 15px;
    padding: 17px 0;
    font-size: 14px;
    color: #333;
    white-space: nowrap;
    border-bottom: 1px dashed #cdcdcd;
    text-overflow: ellipsis;
    overflow: hidden;
}
.activity-desc {
    height: 136px;
    line-height: 20px;
    margin: 17px 15px;
    overflow: hidden;
}
.buttons-box, .scan-buttons-box {
    border-top: 1px solid #cdcdcd;
    overflow: hidden;
}
.buttons-box a, .scan-buttons-box a {
    display: block;
    height: 38px;
    line-height: 38px;
    font-size: 12px;
    text-align: center;
    float: left;
}
.buttons-box a {
    color: #ff5f00;
    background: #f0f0f0;
}
.scan-buttons-box a {
    color: #fff;
    background: #ff5f00;
}
.btn-forward {
    width: 116px;
    border-right: 1px solid #cdcdcd;
}
.btn-edit {
    width: 235px;

}
.scan-box {
    z-index: 2;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}
.scan-mask {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    filter: opacity(60%);
}
.scan-show {
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
}
.scan-box .scan-Qr-code {
    margin: 20px 0 10px;
}
.scan-box .scan-tip {
    line-height: 30px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #fff;
    cursor: default;
}
.scan-pop-box {
    width: 840px;
    height: 230px;
    background: #fff;
    overflow: hidden;
}
.scan-pop-content {
    position: relative;
    margin: 50px 50px 50px 200px;
}
.scan-pop-content img {
    margin-left: -150px;
    float: left;
}
.pop-scan-tip {
    padding: 30px 0 25px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
.copy-input {
    width: 378px;
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
}
.btn-copy {
    position: absolute;
    right: 20px;
    bottom: 0;
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background: #ff5f00;
    border-radius: 3px;
}