/*
* 服务券列表页样式
* create by zmx 2016/9/18
*/
.condition-box{
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
}
.order-list-content{
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
.yqx-table{
    table-layout: auto;
}
.yqx-table>tbody>tr>td.text-l, .yqx-table>thead>tr>th.text-l, .yqx-table>tr>td.text-l, .yqx-table>tr>th.text-l{
    text-align: left;
}
.yqx-table a{
    color: #666;
    text-decoration: underline;
}
.max-text{
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*弹窗提示*/
.yqx-dialog .yqx-dialog-headline{
    color: #fff;
}
.dialog-body{
    text-align: center;
}
.tips-text{
    margin: 50px 0 40px 0;
    font-size: 14px;
    color: #333;
    text-align: center;
}