body{
    margin:0 auto;
    font-size: 14px;
    width:980px;
    height: 842px;
    font-family: "Microsoft Yahei", "微软雅黑", SimHei, Tahoma, Simsun, Arial, Helvetica Neue, Hiragino Sans GB, sans-serif;
}
table {
    width: 980px;
    table-layout: fixed;
    border-collapse:collapse;
}
.wts_head{
    padding: 20px;
    font-size: 36px;
    text-align: center;
}
.wts_head_dh{
    font-size: 14px;
    float: left;
}
.wb_ri {
    font-size: 14px;
    float: right;
    padding-right: 180px;
}
.wts_tab{
    margin-bottom: 30px;
}
.gongsi_name{
    padding: 0 102px;
    font-size: 20px;
    text-align: center;
}
.wb_b {
    line-height: 25px;
}
td{
    border:1px solid black;
    padding-left:8px;
}
.bottom{
    border-bottom: 0;
}
.half_tab{
    width: 50%;
    height: 25px;
}
.third_tab{
    width: 33%;
    height: 25px;
}
.td_center{
    width: 100%;
}
.ck_title{
    text-align: center;
}
.car_img{
    width:490px;
    height: 480px;
    position: relative;
}
.car_img img{
    position:absolute;
    top:88px;
    left:35px;
}
.car_img span{
    position: absolute;
}
.waiguan{
    top:12px;
}
.jianyi_licheng{
    top:470px;
}
.zyzb{
    top:118px;
    left:20px;
}
.zqcm{
    top:184px;
    left:20px;
}
.zhsj{
    top:262px;
    left:20px;
}
.you4 {
    top: 295px;
    left: 20px;
}
.zuo4 {
    top: 297px;
    left: 340px;
}
.zhcm{
    top:322px;
    left:20px;
}
.zhl{
    top:404px;
    left:20px;
}
.leftqd{
    top:97px;
    left:250px;
}
.rightqd{
    top:97px;
    left:100px;
}
.fdjg{
    top:158px;
    left:196px;
}
.bg {
    top:208px;
    left:190px;
}
.cd1{
    top:243px;
    left:205px;
}
.sep {
    top:271px;
    left:190px;
}
.cd2 {
    top:290px;
    left:205px;
}
.hg {
    top:328px;
    left:190px;
}
.hxg{
    top:363px;
    left:205px;
}
.lefthd{
    top:383px;
    left:99px;
}
.righthd{
    top:383px;
    left:230px;
}
.yyzb{
    top:118px;
    left:340px;
}
.yqcm{
    top:184px;
    left:340px;
}
.yhsj{
    top:262px;
    left:340px;
}
.yhcm{
    top:322px;
    left:340px;
}
.yhl{
    top:394px;
    left:360px;
}
.ul_img{
    width:490px;
    *width:460px;
    *padding:10px;
}
.neishi_ul,.scwp_ul{
    list-style-type:none;
    padding:0;
    margin:18px 0 0 10px;
}
.neishi_ul li,.scwp_ul li{
    float:left;
}
.neishi{
    margin-bottom:10px;
    min-height: 20px;
}
.neishi_1{
    width:150px;
    margin-bottom:10px;
}
.neishi_1 span {
    display: inline-block;
    width:83px;
}
.neishi_2{
    width:151px;
}
.neishi_2 span {
    display: inline-block;
    width:47px;
}
.neishi_1 .sel_border{
    display:inline-block;
    width:15px;
    height:15px;
    border:1px solid black;
    vertical-align:middle;
    margin-left:5px;
}
.neishi span{
    display: inline-block;
    min-width: 68px;
    max-width:390px;
}
.yibiao{
    clear: both;
}
.xuhao,.neirong,.yaoqiu{
    height: 25px;
    text-align: center;
}
.xuhao{
    width: 16.7%;
}
.neirong{
    width:33.4%;
}
.sixed{
    width: 16.7%;
    text-align:center;
}
.tishi_and_jianyi{
    width: 100%;
    height:60px;
    padding-top:10px;
    vertical-align:top;
}
.xieyi{
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    padding: 10px 5px;
}
.xieyi_nr{
    margin-left: 10px;
}
.khqz{
    width: 50%;
    height: 110px;
    padding-top:10px;
    vertical-align:top;
}
.ymd{
    display: inline-block;
    margin-top: 90px;
    letter-spacing: 35px;
    float:right;
}
.wxby_foot{
    list-style-type: none;
}
.wxby_foot li{
    float: left;
}
.ewm{
    height: 90px;
    width: 93px;
    background: url(../../images/print/ewm.PNG) no-repeat;
}
.wf_name,.wf_add{
    font-size:14px;
}
.wf_name{
    margin-left:-40px;
}
.wf_add{
    margin-left:100px;
}
.wf_tqmall{
    font-size:20px;
    margin-left:160px;
}
.wxrx{
    margin-left:-10px;
}
.cz{
    margin-left:100px;
}
.telphone,.web_add{
    font-size:16px;
    margin-left:200px;
}
.web_add{
    margin-left:60px;
}
.tp_2{
    width:150px;
    margin-left:50px;
}
.qxrx{
    margin-left:30px;
}
.ewm{
    margin-left:848px;
    margin-top:-60px;
}
span.content {
    min-height: 18px;
    min-width: 68px;
    border-bottom: 1px solid #000;
    position:static;
}



.actLayer {
    display: none;
}
.carBox {
    z-index: 3;
    background: none!important;
    -webkit-transform-origin: 18% 30% 0;
    transform-origin: 18% 30% 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}
.lineTxt li {
    height: 0px!important;
    background: transparent!important;
    border-top: 1px solid #000000;
}
.lineTxt li span {
    color: #000000!important;
}
.checkcarpic {
    text-align: center;
    -webkit-transform-origin: 18% 30% 0;
    transform-origin: 18% 30% 0;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    width: 540px;
    height: 540px;
    position: absolute;
    left: 10px;
    top: -50px;
}