/**
 * Created by sky on 16/12/8.
 */

.mb-10 {
  margin-bottom: 10px;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

.yqx-table tr td.no-data{
  display: inline-block;
  width: 821px;
  height: 180px;
  background: #F5F5F5;
  line-height: 164px;
  text-align: center;
  border-bottom: none !important;
}
.subsidy-mark {
  color: #ff7800;
  font-weight: bold;
}

.yqx-table {
  margin-bottom: -1px;
  border-top: 1px solid #cacaca;

  thead {
    tr {
      background: #f5f1e5;
    }

    th {
      padding: 10px;
    }
  }

  tbody {
    td {
      padding: 8px 10px;
    }
  }

  tr {
    td {
      text-align: left;
    }

    th {
      text-align: left;
    }
  }

  .tc-1, .tc-2, .tc-3, .tc-4, .tc-6 {
    width: 100px;
  }

  .tc-5 {
    width: 240px;
  }
}

.panel {
  position: relative;
  background: #fff;
  border: 1px solid #cacaca;

  & + .panel {
    margin-top: 10px;
  }

  .panel-header {
    padding: 10px;
  }

  .panel-body {
    padding: 10px;
  }
}

.box {
  position: relative;
  width: 50%;
  padding: 10px;
}

.spacer-line {
  position: absolute;
  top: 20px;
  left: 50%;
  height: 60px;
  border-left: 1px solid #cacaca;
}

.subsidy-label, .subsidy-detail {
  line-height: 1.7;
  color: #666;
}

.subsidy-detail {
  li {
    width: 50%;
    padding-right: 10px;
    float: left;
  }
}

.subsidy-rules {
  position: absolute;
  top: 20px;
  right: 10px;
  color: #666;
}
.pop-tips{
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: 10px;
  line-height: 14px;
  font-size: 12px;
  font-style: normal;
  text-align: center;
  color: #159;
  background: #e8e8e8;
  border-radius: 50%;
  cursor: pointer;
}

.search-form .form-item {
  width: 152px;
}

.check-box {
  margin-right: 20px;

  [type="checkbox"] {
    margin-right: 10px;
    vertical-align: baseline;
  }
}
