/*
* create by zmx 2017/1/06
* 付款类型页面样式(钣喷)
*/

.content{
    background: #fff;
    border:1px solid #acacac;
    padding: 0 10px 20px 10px;
}
.title{
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    border-bottom: 1px solid #cacaca;
    color: #666;
    font-size: 12px;
}
.form-box{
    width: 422px;
}
.type-title{
    padding-top: 15px;
    line-height: 30px;
    font-size: 14px;
}
.form-box .col-6{
    height: 60px;
    line-height: 60px;
    margin: 0;
    border-bottom: 1px dashed #cacaca;
    float: left;
}
.form-box .form-label{
    width: 80px;
    height: 60px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.on-off{
    position: relative;
    display: inline-block;
    width: 84px;
    height: 30px;
    background: #607b0a;
    border-radius: 2px;
    vertical-align: middle;
}
.on-off span{
    display: block;
    width: 42px;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 30px;
    color: #fff;
}
.on-off-btn{
    position: absolute;
    right: 2px;
    top:2px;
    width: 38px;
    height: 26px;
    background: #fff;
    border-radius: 2px;
}
.pay-picture{
    width: 326px;
}
.pay-picture p{
    line-height: 40px;
}
.off-btn{
    position: absolute;
    left: 2px;
    top:2px;
    width: 38px;
    height: 26px;
    background: #fff;
    border-radius: 2px;
}
.add-pay-type{
    margin-top: 20px;
    display: none;
}
.pay-type-box{
    overflow: hidden;
}
.background-green{
    background: #607b0a;
}
.background-red{
    background: #fd461e;
}
.mobile{
    line-height: 40px;
}
.mobile img{
    vertical-align: middle;
}
.mobile span{
    font-weight: bold;
}
.red{
    background: #fd461e;
}
.green{
    background: #607b0a;
}
.m-top{
    margin-top: 20px;
}