.border-right {
    border-right: 1px solid #cacaca;
}
.width-50 {
    width: 50px;
}
.width-70 {
    width: 70px;
}
.width-80 {
    width: 80px;
}
.width-95 {
    width: 95px;
}
.width-60 {
    width: 60px;
}
.headline {
    margin-bottom: 10px;
}
.search-form {
    padding: 9px 10px;
    color: #333;
    font-size: 14px;
}

.yqx-wrapper .yqx-table * {
    cursor: default;
}
.select-date label{
    font-size: 14px;
    font-weight: 800;
}

.search-btn {
    margin: 0 10px;
    padding:0 20px;
}

.select-date .yqx-input {
    width: 240px;
}
.quick-filter {
    display: inline-block;
    vertical-align: middle;
}
.quick-filter i{
    margin: 0 5px;
    cursor: pointer;
    text-decoration: underline;
}

.quick-filter i:nth-child(2) {
    margin-left: 0;
}


.tab-item+.tab-item {
    margin: 0;
    border-left: 0;
}

.tab-box {
    border-right: 1px solid #ddd;
    background: #f9f9f9;
}

.tab-item {
    line-height: 37px;
}

.main {
    position: relative;
    border: 1px solid #ddd;
    background: #fff;
}

.main-header {
    height: 50px;
    margin: 0 10px;
    border-bottom: 1px solid #ddd;
    line-height: 50px;
}

.main-header .yqx-input {
    margin-left: 12px;
}

.main-header .yqx-btn {
    margin-left: 7px;
}

.main-header.padding-tb-8 {
    padding: 8px 0;
    height: initial;
    line-height: initial;
}

.mix-wrapper .table-box,
.mix-wrapper .echarts-box {
    display: inline-block;
    margin-bottom: 20px;
}

.table-box {
    position: relative;
}

.echarts-box {
    position: relative;
}

.purchase-chart .main-header,
.service-chart .main-header {
    border: 0;
}

.stock-chart .stock-main .table-box {
    margin-bottom: 10px;
}

.stock-chart .stock-main .main-header {
    height: initial;
    line-height: initial;
    margin: 0 0 0 10px;
    border-bottom: 0;
}
/* 表格的宽度  start */
.stock-chart .stock-main .table-box {
    min-height: 90px;
}
.service-chart .table-box,
.goods-chart .table-box{
    width: 460px;
    margin-left: 10px;
    vertical-align: top;
}

.purchase-chart .table-box {
    width: 520px;
    margin-left: 10px;
    vertical-align: top;
}

.brand-chart .table-box {
    width: 430px;
    margin: 0 30px 0 10px;
    vertical-align: top;
}

.card-chart .table-box {
    width: 436px;
    margin: 0 0 0 10px;
    vertical-align: top;
}

/* 表格的宽度 end */
.goods-main-2 h3,
.service-main-2 h3 {
    display: inline-block;
}

/* echarts 容器 start */
.purchase-chart .echarts-box {
    width: 280px;
    height: 300px;
    margin-left: 10px;
}
.brand-chart .echarts-box {
    width: 330px;
    height: 350px;
}
.stock-chart .echarts-box {
    width: 800px;
    height: 320px;
    margin: 10px;
}
.service-chart .echarts-box{
    width: 330px;
    height: 240px;
}
.goods-chart .echarts-box {
    height: 300px;
    width: 340px;
}
.card-chart .echarts-box {
    width: 350px;
    height: 200px;
    border: 0;
}
.echarts-visit {
    height: 245px;
}
.echarts-operate-2 {
    height: 320px;
}

.echarts-operate {
    display: inline-block;
    width: 373px;
    height: 220px;
    margin: 70px 0 18px 27px;
    position: relative;
    vertical-align: top;
}

.operate-out {
    height: 60px;
}

/* echarts 容器 end */

/* font start */
.main h3 {
    color: #333;
}
.card-chart h3 {
    color: #333;
    text-align: left;
}

.current-trend {
    color: limegreen;
}

.main-header,
.yqx-page a, .yqx-page span,
.content .yqx-table th,
.content .yqx-table td,
.content .tab-item,
.card-chart h3,
.main-header h3 {
    font-size: 14px
}

.tab-item.hide {
    display: none;
}

.font-ranking {
    color: #9fc527;
}

.main-header .font-money {
    color: #fd3f3f;
}

.main-header h3 {
    display: inline-block;
}

.operate-main-2 .main-header{
    color: #333;
}
/* font end */
.tab-item.current-item,
.tab-item:hover{
    font-weight: 900;
}
/* table */
.content .yqx-table th {
    background: #f2feca;
}
.stock-chart .yqx-table th {
    word-break: break-word;
    white-space: normal;
}

.content .yqx-table {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.content .yqx-table td {
    background: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 分页的样式 start */
.yqx-page {
    text-align: right;
}
.yqx-page .yqx-page-inner {
    border: 0;
    text-align: center;
}
.yqx-page span.yqx-page-count {
    display: inline-block;
    width: initial;
    line-height: 30px;
    background: #fff;
    border: 0;
}

.yqx-page .yqx-page-inner span {
    color: #666;
}

.yqx-page span, .yqx-page a {
    width: 105px;
    height: 30px;
    padding: 0;
    margin-left: 15px;
    line-height: 28px;
    border: 1px solid #d2d2d2;
    background: #f9f9f9;
}

.yqx-page a:hover {
    color: #fff;
    background: #9fc527;
    border-color: #7fa700;
    opacity: .7;
}

.yqx-page .yqx-page-prev.disabled:hover {
    opacity: 1;
    border: 1px solid #d2d2d2;
    background: #f9f9f9;
    color: green;
}
.yqx-page .yqx-page-next.disabled:hover {
    opacity: 1;
    color: #fff;
    background: #9fc527;
    border-color: #7fa700;
}
.yqx-page .disabled {
    cursor: not-allowed;
}

.yqx-page .yqx-page-next {
    color: #fff;
    background: #9fc527;
    border-color: #7fa700;
}
/* 分页的样式 end */
/* icon start */
.medal-icon {
    height: 22px;
    width: 22px;
    vertical-align: -7px;
}

.month-icon {
    background: url('../../../../../img/page/report/statistics/business/month/month.png') no-repeat;
}

.chart-icon {
    height: 19px;
    width: 20px;
    margin-right: 6px;
    background-position: -22px -3px;
    vertical-align: -4px;
}

.question-icon {
    height: 17px;
    width: 17px;
    margin-left: 7px;
    line-height: 16px;
    text-align: center;
    color: #9b9b9b;
    border: 1px solid #9b9b9b;
    border-radius: 17px;
}
/* icon end */
.purchase-chart .charts-title,
.brand-chart .charts-title ,
.service-chart .charts-title {
    position: relative;
    bottom: initial;
    display: inline;
    margin-left: 10px;
}

.brand-chart .brand-rank-title ,
.goods-chart .goods-type ,
.service-chart .service-type {
    position: absolute;
    top: 21px;
    right: 100px;
    line-height: initial;
}

.charts-title {
    position: absolute;
    bottom: 234px;
    font-size: 14px;
}

.charts-title p {
    margin-top: 3px;
}

.operate-main .charts-title {
    bottom: auto;
}

/* 图标单位 start */
.charts-unit {
    position: absolute;
    right: 30px;
}

.operate.charts-unit {
    top: 63px;
}
.operate-trend.charts-unit {
    bottom: 283px;
}
/* 图标单位 end */
.before-line {
    position: relative;
}

.no-content:before {
    display: none !important;
}

.before-line:before ,
.charts-title:before {
    content: '';
    display: block;
    position: absolute;
    left: -10px;
    bottom: 0;
    height: 14px;
    width: 3px;
    background: #9fc527;
}

.separate-line {
    height: 14px;
    margin: 0 22px;
    border-right: 1px solid #999;
    vertical-align: -2px;
}

.operate-main-2 .charts-title:before {
    content: none;
}

.operate-main-2 .charts-title {
    bottom: 280px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.no-border-top {
    border-top: 0;
}

.no-border-tb {
    border-top: 0;
    border-bottom: 0;
}

.no-border-lr {
    border-right: 0 !important;
    border-left: 0 !important;
}

.no-border, .card-chart .main-header {
    border: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}
.margin-right-10 {
    margin-right: 10px;
}
.margin-left-20 {
    margin-left: 20px;
}
.input-long {
    width: 360px;
}

*[class|='js'] {
    cursor: pointer;
}

.operate-main-2 .echarts-total {
    position: absolute;
    bottom: 25px;
    left: 274px;
    font-size: 14px;
}

.operate-main-2 .echarts-total:before {
    content: ' ';
    display: block;
    position: absolute;
    left: -20px;
    top: 5px;
    width: 15px;
    height: 2px;
}

.yye-color:before {
    background: #4cb9fe;
}
.ssje-color:before {
    background: #9fc527
}

.operate-main-2 .echarts-total + .echarts-total {
    margin-left: 270px
}
.table-box td.text-l,.table-box th.text-l,.yqx-table td.text-l,.yqx-table th.text-l{
    text-align: left;
}
.table-box td.text-r,.table-box th.text-r,.yqx-table td.text-r,.yqx-table th.text-r{
    text-align: right;
}
.table-box td.p-left,.table-box th.p-left,.yqx-table td.p-left,.yqx-table th.p-left{
    padding-left: 15px;
}
.table-box td.p-right,.table-box th.p-right,.yqx-table td.p-right,.yqx-table th.p-right{
    padding-right: 15px;
}
.yqx-table tr.table-total td{
    color: red;
}

.brand-top {
    width: 360px;
}

/* 暂无数据 */
.no-data {
    background: url(/legend/resources/images/marketing/no-data.png) no-repeat;
    width: 68px;
    height: 92px;
    position: absolute;
}

/* 子 tab */
.sub-tab {
    display: inline-block;
    position: relative;
    font-size: 14px;
    cursor: pointer;
}
.current-sub-tab.sub-tab {
    color: #9fc527;
}

.goods-chart .sub-tab + .sub-tab {
    margin-left: 30px;
}
.goods-chart .goods-main {
    padding-top: 15px;
    position: relative;
}
.goods-chart .charts-title {
    line-height: initial;
    bottom: auto;
}
.goods-chart .sub-tab.left-line:before {
    content: '';
    position: absolute;
    left: -16px;
    top: 6px;
    border-left: 1px solid #dcdcdc;
    height: 16px;
}
.goods-chart .goods-main .main-header {
    position: relative;
    margin:  0 auto 15px;
    padding: 0 9px;
    width: 206px;
    height: 30px;
    border: 1px solid #dcdcdc;
    line-height: 28px;
    text-align: center;
}
.goods-chart .goods-main .table-box {
    position: relative;
    margin-top: 30px;
}
.goods-chart .echarts-goods {
    margin-top: 20px;
}

.hide {
    display: none;
}


/*新加版喷中心样式*/

.service-tab{
    width: 168px;
    height: 29px;
    border: 1px solid #cacaca;
    background: #f9f9f9;
    position: absolute;
    left: 297px;
    top:15px;
}
.service-tab span{
    display: block;
    float: left;
    width: 83px;
    line-height: 27px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.service-current{
    height: 27px;
    background: #607b0a;
    color: #fff;
}
.table-box .total{
    line-height: 25px;
}
.no-data-surface{
    line-height: 35px;
    text-align: center;
}