/*保单查询列表页样式开始*/
.on{
    background: #eee !important;
    color: #333;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 2px solid #9fc527;
    line-height: 37px !important;
}
/*左侧导航栏开始*/
.Z-left{
    width: 135px;
    float: left;
    margin-right: 15px;
}
.left-nav{
    width: 138px;
    border: 1px solid #ddd;
    background-color: #fff;
}
/*左侧导航栏结束*/

/*右侧部分样式开始*/
.Z-right{
    width: 830px;
    float: left;
    background: #eee;
    /*font-family: "宋体";*/
}
em{
    font-style: normal;
}
.Z-title{
    height: 40px;
    line-height: 40px;
    color: #333;
    font-size: 16px;
    font-family: MircosoftYahei;
    font-weight: bold;
    margin:0 0 10px 0;
}
.Z-title p{
    display: inline-block;
    float: right;
}
.Z-title span, .Z-title em{
    font-size: 12px;
    color: #999;
}
.Z-title .effected{
    margin-left: 25px;
}
.Z-title span em{
    color: #ff7800;
}
/*列表tab样式开始*/
.Z-tab{
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #ddd;
}
.Z-tab-item{
    display: inline-block;
    width: 132px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    vertical-align: sub;
    background: #ddd;
    color: #666;
    font-size: 14px;
    font-family: 宋体;
}
.Z-tab-item:hover{
    background: #eee;
    color: #333;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 2px solid #9fc527;
    line-height: 37px;
}
/*列表tab样式结束*/

/*信息详情样式开始*/
.Z-info-detail{
    height: 100px;
    width: 100%;
    background: #fff;
    line-height: 20px;
}
.Z-info-detail .bd{
    display: inline-block;
    height: 65px;
    border-right: 1px solid #ddd;
    margin-left: 20px;
    margin-top: 20px;
    width: 255px;
}
.Z-info-detail .bd p:nth-child(n+2) span:nth-child(2){
    margin-left: 20px;
}
.Z-info-detail .fwb{
    display: inline-block;
    height: 65px;
    border-right: 1px solid #ddd;
    width: 350px;
}
.Z-info-detail .fwb p:nth-child(n+2) span:nth-child(2){
    margin: 0 20px;
}
.Z-info-detail .xj{
    display: inline-block;
    width: 178px;
}
.Z-info-detail em{
    color: #ff7800;
}
/*信息详情样式结束*/

/*选择搜索框样式开始*/
.Z-select{
    height: 50px;
    width: 100%;
    background: #fff;
    margin-top: 10px;
    line-height: 50px;
    text-align: right;
}
.Z-select .Z-check{
    margin:0 20px 0 0;
}
.Z-select .Z-check input{
    vertical-align: baseline;
    margin-right: 5px;
}
.Z-select .Z-search{
    display: inline-block;
    width: 68px;
    height: 28px;
    background: #9fc527;
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #7fa700;
    margin-right: 20px;
    cursor: pointer;
}
/*选择搜索框样式结束*/

/*表格样式开始*/
.Z-orderSn{
    width: 180px;
}
tbody tr td{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.no-data{
    display: inline-block;
    width: 830px;
    height: 180px;
    background: #F5F5F5;
    line-height: 164px;
    border-bottom: none !important;
}
/*表格样式结束*/

/*保单查询列表页样式结束*/

/*右侧部分样式结束*/