/* css 维修详情 */

.d_top {
    height: 52px;
    padding-top: 30px;
}
.d_top li {
    float: left;
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color: #ffffff;
    background: #f77c7e;
    border-radius: 5px;
    margin-right: 10px;
}
.d_top li.djzk {
    float: right;
    /*width: 90px;*/
    background: #8fb027;
    margin-right: 0;
    margin-left: 10px;
}
.khxx {
    border: 1px solid #cdcdcd;
    padding-bottom: 30px;
    background: #f9f9f9;
    margin-bottom: 30px;
    position: relative;
}
.khxx h2 {
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #efefef;
    border-bottom: 1px solid #cdcdcd;
    font-size: 14px;
}
.kh_xc {
    width: 100%;
    height: 114px;
    overflow: hidden;
}
.kh_xc li {
    width: 50%;
    float: left;
    line-height: 37px;
    padding-top: 20px;
}
.xxqz {
    display: inline-block;
    width: 72px;
    margin-left: 20px;
}
.xxsel {
    width: 367px;
    height: 37px;
    line-height: 37px;
    background: #ffffff;
    border: 1px solid #dadada;
    border-radius: 3px;
    font-size: 14px;
    color: #666666;
}
.xxtxt {
    width: 353px;
    height: 35px;
    line-height: 35px;
    background: #ffffff;
    border: 1px solid #dadada;
    border-radius: 3px;
    padding-left: 12px;
    font-size: 14px;
    color: #666666;
}


.gdbh {
    padding: 20px 0 0 20px;
    color: #a4a4a4;
}
.morebut {
    width: 80px;
    height: 22px;
    line-height: 21px;
    color: #c9c9c9;
    cursor: pointer;
    padding-left: 18px;
    border: 1px solid #cdcdcd;
    border-top: none;
    background: #f9f9f9 url("../../images/mj.gif") no-repeat 70px;
    position: absolute;
    bottom: -23px;
    left: 50%;
    margin-left: -50px;
}
.khxx .more {
    background-image: url("../../images/mj1.gif");
}
.wx_box {
    background: #ebe6cd;
    border: 1px solid #c1bda9;
    margin-bottom: 10px;
}
.wx_cot {
    padding-bottom: 10px;
    position: relative;
}
.wx_tit {
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #c1bda9;
    background: #e2ddc5;
}
.wx_tl {
    float: left;
    width: 98px;
    height: 100%;
    text-align: center;
    font-size: 14px;
    border-right: 1px solid #c1bda9;
}
.wx_tr {
    float: right;
    cursor: pointer;
    height: 100%;
    width: 38px;
    border-left: 1px solid #c1bda9;
    background: url("../../images/xj.gif") no-repeat center;
}
.wx_tit .mark {
    background-image: url("../../images/xj1.gif");
}
.wx_list {
    height: 37px;
    position: relative;
    line-height: 37px;
    padding-left: 18px;
}
.wx_list li {
    float: left;
    height: 100%;
    text-align: center;
    margin-right: 9px;
}
.w98 {
    width: 98px;
}
.w287 {
    width: 287px;
}
.w83 {
    width: 83px;
}
.w68 {
    width: 68px;
}
.w166 {
    width: 166px;
}
.w108 {
    width: 108px;
}
.w563 {
    width: 563px;
}
.m10 {
    margin-bottom: 10px;
}
.wx_txt {
    height: 100%;
    width: 100%;
    background: #ffffff;
    border: 1px solid #cecab4;
    border-radius: 2px;
    line-height: 35px;
    padding-left: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #666666;
}
.wx_sel {
    height: 100%;
    width: 100%;
    background: #ffffff;
    border: 1px solid #cecab4;
    border-radius: 2px;
    color: #666666;
}
.wx_but {
    background: url("../../images/sz.png") no-repeat center;
    width: 29px;
    height: 100%;
    cursor: pointer;
}
.jian {
    background-image: url("../../images/sz1.png");
}
.b_green {
    background: #e1e6d3;
}
.b_green1 {
    background: #d8dcca;
}
.b_blue {
    background: #d3e2e6;
}
.b_blue1 {
    background: #cad9dc;
}

.heji {
    padding-top: 10px;
}
.heji li {
    line-height: 37px;
    width: 100%;
    display: block;
    padding-bottom: 20px;
    font-size: 14px;
}
.hj_l {
    width: 66px;
    padding-left: 19px;
    float: left;
}
.hj_r {
    width: 880px;
    float: left;
}
.hj_r span {
    margin: 0 10px;
}
.hj_txt {
    width: 140px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #dadada;
    background: #ffffff;
    border-radius: 2px;
    margin: 0 10px;
    padding-left: 9px;
    color: #666666;
    font-size: 14px;
}
.hj_duan {
    width: 788px;
    height: 71px;
    line-height: 22px;
    border: 1px solid #dadada;
    background: #ffffff;
    border-radius: 6px;
    padding-left: 9px;
    font-size: 14px;
    margin: 0 10px;
}
.d_bottom {
    padding-top: 0;
}
.sug_b {
    position: absolute;
    left: 161px;
    display: none;
    z-index: 1111;
    background: #fcfcfc;
    border: 1px solid #cecab4;
}
.sub_li {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #666666;
    border-bottom: 1px dotted #dadada;
}
.sug_l {
    float: left;
    height: 100%;
    overflow: hidden;
    text-align: center;
}
.mr8 {
    margin-right: 8px;
}
.mr9 {
    margin-right: 9px;
}
.noline {
    border-bottom: none;
}
.sug_b .current {
    background: #ffffff;
}

input[readonly]{
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
}

