.password-set-container{
    background: none;
    width: 370px;
    border: none;
    margin:100px auto 0;
}
.data-set{
    background: none;
    padding: 0;
}
.action-btn{
    text-align: center;
}
.action-btn>a.btn_pink{
    display: inline-block;
    margin-right: 10px;
}
.content-title{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}
.cgpb {
    width: 440px;
}
.action_bu {
    text-align: center;
    padding: 20px 0;
}
.action_bu button {
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color: #ffffff;
    background: #f77c7e;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}