.title_1{
    font-weight:800;
    width:300px;
    margin: 0 auto;
    font-size:14px;
    color:black;
}

.info_1{
    margin: 0 auto;
    margin-top:5px;
    width:500px;
    color:blue;
    font-size:12px;
}

.wid{
    width:80px;
    height:30px;
}
.wid2{
    width:88px;
}
.wid3{
    width:80px;
}

.info_2{
    padding:0px 10px 0px 0px;
    color:black;
}
.info_3{
    padding:0px 10px 0px 10px;
    color:black;
}
.info_4{
    padding:0px 10px 0px 5px;
    color:black;
}

.export_2{
    background: orangered;
    height:33px;
    margin-left: 15px;
    display: block;
    line-height: 33px;
    text-align: left;

}
.heit{
    height:30px;
}

.scroll{
    overflow-x:auto;
}
.table2 {width:100%;margin-bottom: 10px;border: solid #ddd;border-width: 1px 0;}
.table2 caption,
.table2 thead.highlight-head tr{height: 36px;background: #f2feca;}
.table2 thead.highlight-head th{font-size: 14px;font-weight: 900;}
.table2 th,
.table2 td{padding: 5px;height: 20px;line-height: 1.4;font-size: 12px;text-align: center;vertical-align: middle;border: solid #ddd;border-width: 1px 0;white-space:nowrap;}
.table2 th:first-child,
.table2 td:first-child{text-align: left;}
.table-hover tbody tr:hover{background: #f2feca;}
.table2 tfoot th,
.table2 tfoot td{color: #ee3f02;}
.table2 caption{position: relative;text-align: center;border-top: 1px solid #ddd;}
.table2 caption .table-title{position: absolute;left: 5px;line-height: 36px;font-size: 16px;font-weight: 900;}
.table2 caption .date-title{line-height: 36px;font-size: 14px;font-weight: normal;}
.rp-input-icon2{
    padding-right:7px;
}
.right{
    align:center;
}
.mt14ml25{
    float: left;
    margin-top: 14px;
    margin-left: 25px;
}
.mt5{
    margin-top: 5px;
}
.alert{
    width:200px;
    margin: 0 auto;
}
.w50{
    width:48px;
}
.w49{
    width:55px;
    text-align: center;
}
#searchBtn{
    min-width:77px;
}
.wid22{
    width: 78px;
}
.hiddenLong{
    max-width: 58px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}