body,div,img,h3,a,ul,li{
padding:0;
margin:0;
}
body{
    background:#EEEEEE;
    font-family:"微软雅黑";
}
.content{
    width:980px;
    margin:0 auto;
    overflow:hidden;
}
.cont_div{
    width:812px;
    margin:153px auto;
    overflow:hidden;
}
.left{
    float:left;
    margin-right:84px;
}
.right{
    float:left;
    margin-top: 26px;
}
.right_tit{
    font-size:24px;
    font-weight:bold;
    padding-bottom:12px;
    color: #333333;
}
.right_tit_t{
    font-size:22px;
    padding-bottom:22px;
    color: #333333;
}
.middle span{
    font-size:16px;
    color:#333333;
}
.middle ul{
    padding-top:18px;
    color:#666666;
    list-style:none;
    font-size:13px;
}
.middle ul li{
padding-bottom:10px;
}
.tqmall_a{
    display:inline-block;
    font-size:13px;
    color:#1a91ff;
}

.back_a{
    margin-top:12px;
}
.back_a a{
    display:inline-block;
    width:150px;
    height:45px;
    line-height:45px;
    text-align:center;
    border-radius:10px;
    font-size:13px;
    color: #ffffff;
    text-decoration:none;
}
.first_a{
    margin-right:30px;
}
.orange{
    background:#f69820;
}
.green{
    background:#8fb210;
}