/*
* create by zmx 2017/1/5
* 新增费用资料
*/

.content{
    background: #fff;
    border: 1px solid #cacaca;
    padding: 0 10px;
}
.title-box{
    height: 45px;
}
.title{
    width: 300px;
    line-height: 45px;
    font-size: 14px;
}
.title:before {
    content:"";
    display: inline-block;
    width: 2px;
    height: 14px;
    background: #999;
    margin-right: 10px;
    vertical-align: middle;
}
.number{
    height: 23px;
    line-height: 23px;
    margin-top: 10px;
    padding: 0 10px;
    background: #f9f9f9;
    border: 1px solid #cacaca;
    border-radius: 10px;
}
.number input{
    vertical-align: baseline;
}
.form-box{
    border-bottom: 1px dashed #cacaca;
    padding-bottom: 10px;
}
.form-box .form-label{
    width:100px;
    text-align: right;
    margin-bottom: 20px;
}
.form-box .form-item{
    width: 285px;
    margin-bottom: 20px;
}
.btn{
    padding: 10px;
    border-bottom: 1px dashed #cacaca;
}
.owner-hide{
    display: none;
}
.owner-service{
    width: 620px;
    overflow: hidden;
    background: #f9f9f9;
    border: 1px solid #cacaca;
    margin-left: 100px;
    padding-bottom: 10px;
}
.owner-service .form-label{
    width: 110px;
    text-align: right;
}
.owner-service .form-item{
    width: 180px;
}
.picture-box{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-right: 15px;
    vertical-align: top;
}
.m-top{
    margin-top: 20px;
}
.picture-box .close{
    width: 22px;
    height: 22px;
    background: url("../../../../img/page/setting/close-red.png") no-repeat;
    position: absolute;
    top:-11px;
    right: -11px;
}
.picture-add{
    display: inline-block;
    width: 78px;
    height: 78px;
    background: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 2px;
    vertical-align: top;
    text-align: center;
    position: relative;
}
.picture-add .file-btn{
    position: absolute;
    top:0;
    left: 0;
    width: 78px;
    height: 78px;
    opacity: 0;
}
.picture-add p{
    padding-top: 15px;
    line-height: 25px;
}
.pic-label{
    vertical-align: top;
}
.pic-explain{
    display: inline-block;
    vertical-align: bottom;
}
.pic-explain p{
    line-height: 22px;
    color: #666;
}
.service-info{
    width: 485px;
    height: 78px;
}
.btn-box{
    margin-top: 10px;
    border-top: 1px solid #cacaca;
    padding: 10px;
    padding-top: 0;
    overflow: hidden;
}
.btn-box p{
    line-height: 46px;
    color: #fa482c;
    font-size: 14px;

}
.item-group{
    display: inline-block;
}
.service-img,.service-img1{
    width: 78px;
    height: 78px;
}
.default-hide,.hide{
    display: none;
}
.img-group{
    display: inline-block;
    width: 500px;
}

.img-group .picture-box:first-child:after {
    content: "首张";
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1px 0 2px 0;
    background: #f55e5f;
    color: #fff;
    width: 100%;
    text-align: center;
}

.img-group .picture-box:not(:first-child):hover .set-first {
    display: block;
}

.set-first {
    display: none;
}
.set-first,
.set-first .back {
    top: 0;
    left: 0;
    position: absolute;
    width: 79px;
    height: 100%;
}

.set-first .back {
    opacity: .5;
    background: #666;
}

.set-first p {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    text-decoration: underline;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.service-note-tips{
    line-height: 20px;
    color: #fa482c;
}