.other-config {
    padding: 0 0 10px;
}
.other-config > span {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    vertical-align: bottom;
    margin-right: 3px;
}
.other-config > em {
    color: #999;
}
.qxy_right {
    margin-left: 222px;
    overflow: hidden;
}
.sidebar {
    width: 200px;
    float: left;
    background-color: #fff;
    border: 1px solid #e8e8e8;
}
.sidebar .qxy_vmenu {
    border: 1px solid #e8e8e8;
    cursor: pointer;
}
.sidebar .qxy_vmenu>li {
    border-bottom: 1px solid #e8e8e8;
    padding: 0 0 15px;
}
.sidebar .qxy_vmenu>li>p {
    padding: 14px;
    font-size: 16px;
    font-weight: 700;
    background: url(../../../../img/page/magic/extend.png) 165px center no-repeat;
    line-height: 30px;
}
.sidebar .qxy_vmenu>li>.contract {
    background: url(../../../../img/page/conf/contract.png) 165px center no-repeat;
}
.sidebar .qxy_vmenu p+ul {
    padding-left: 15px;
}
.sidebar .qxy_vmenu a {
    padding-left: 15px;
    line-height: 30px;
    font-size: 12px;
    overflow: hidden;
    color: #666;
    text-decoration: none;
    cursor: pointer;
    display: block;
    margin-bottom: 5px;
}
.sidebar .qxy_vmenu a:hover {
    color: #e50206;
}
.sidebar .qxy_vmenu .selected, .sidebar .qxy_vmenu a:hover {
    border-left: 3px solid #333;
    background-color: #e0e0e0;
}