button{
    font-family: "黑体", sans-serif, Verdana, Arial, Helvetica, Tahoma;
}
a:hover{
    color:#333;
}
.search{
    width: 100%;
    height: 75px;
    background: #000;
}
.title{
    width:100%;
    height: 50px;
    line-height: 60px;
    color:#000;
}
.title .title-china{
    font-size: 18px;
    font-weight: bolder;
}
.title .title-english{
    color: #999;
}
.left{
    width: 220px;
    height: auto;
    float: left;
}

.choice-car{
    width: 100%;
    height: 420px;
    background: #fff;
    border: 1px solid #e8e8e8;
    margin-top: 10px;
    color: #333;
}
.list-text{
    margin-left: 15px;
    margin-top: 12px;
    color: #333;
}
.list-detail{
    margin-left: 15px;
    margin-top: 25px;
}
.check-type{
    width: 187px;
    height: 35px;
    border: 1px solid #e0e0e0;
    margin-top: 10px;
    font-family: "黑体", sans-serif, Verdana, Arial, Helvetica, Tahoma;
}
.comform{
    width: 187px;
    height:35px;
    background: #8eb110;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-left: 15px;
    margin-top: 20px;
    text-align: center;
}
.comform a{
    color: #fff;
    line-height: 35px;
}
.equipment-advice{
    width: 100%;
    height: 290px;
    background: #fff;
    border: 1px solid #e8e8e8;
    margin-top: 10px;
}
.right{
    width: 740px;
    float: right;
}
.center-box{
    width: 100%;
    height: auto;
}
.center-box .tabs{
    background: #fff;
    border: 1px solid #e8e8e8;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
}
.center-box .tabs .tabs-left{
    float: left;
    width: 232px;
}
.center-box .tabs .text{
    float: left;
    width: 435px;
    margin-left: 20px;
}
.center-box .tabs .text h2{
    margin-bottom: 10px;
}
.center-box .tabs .text strong{
    font-weight: bolder;
    color: #000;
}
.center-box .tabs .text p{
    color: #999;
    line-height: 22px;
}
.right-center{
    width: 740px;
    overflow: hidden;
    margin-top: 10px;
    border-top:2px solid #232e49;
    background: #fff;
}
.right-center .content{
    overflow: hidden;
    width: 700px;
    border-bottom: 1px solid #e8e8e8;
    margin: auto;
    box-sizing: border-box;
    padding: 20px 0 20px 0;
}
.right-center .content .content-left{
    float: left;
    width: 166px;
    height: 111px;
    border: 1px solid #f2f2f2;
    padding: 2px;
}
.right-center .content .content-left img{
    width: 165px;
    height: 110px;
}
.right-center .content .content-left p{
    font-size: 14px;
    margin-top: 15px;
}
.right-center .content .content-center{
    float: left;
    width: 350px;
    margin-left: 15px;
}
.right-center .content .content-center h2{
    margin-bottom: 15px;
}
.right-center .content .content-center .splite{
    color: #ccc;
    font-weight: 100;
}
.right-center .content .content-center p{
    line-height: 22px;
    height: 68px;
    overflow: hidden;
}
.location{
    height: 15px;
    line-height: 16px;
    padding-left: 15px;
    background: url("../../images/join/addr_point.png")left no-repeat;
    margin-right: 10px;

}
.right-center .content .content-center .blue{
    color: #2a94ec;
}
.right-center .content .content-right{
    float: right;
    width: 160px;
    padding-top: 40px;
}
.right-center .content .content-right .attend{
    display: block;
    width: 95px;
    height: 32px;
    background: #8eb110;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    text-align: center;
    line-height: 32px;
    margin-left: 63px;
}
.right-center .content .content-right .disattend{
    background: #e0e0e0;
}
.right-center .content .content-right .isattend{
    color: #ff831e;
    text-align: right;
    margin-top: 30px;
}
.right-center .content .content-right .grey{
    color: #999;
}

.page-box {
    width: 570px;
    height: 40px;
    margin: auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 14px;
    color: #333;
    margin-top: 20px;
    background: #fbfbfb;
    border: 1px solid #dddddd;
    margin-bottom: 30px;
    line-height: 40px;
}
.prev_button, .next_button {
    border-left:1px solid #ddd;
    height: 40px;
    vertical-align: top;
    /*margin-left: 5px;*/
    /*padding-left: 15px;*/
}
.first-btn,.prev_button,.next_button,.btn-number,.last-btn{
    border-left:1px solid #ddd;
    height: 40px;
    vertical-align: top;
    padding: 0 11px;
}
.btn-number{
    background: #84b100;
    display: inline-block;
}
.last-btn{
    border-right:1px solid #ddd;
    padding-right: 15px;
}
.page {
    margin-left: 20px;
    display: inline-block;
}
.pageNum {
    width: 34px;
    height: 18px;
    margin: 0 3px;
    border: 1px solid #cccccc;
}
.green-color{
    color:#008100;
}
.redirect-btn {
    width: 50px;
    height: 34px;
    border-left: 1px solid #dad9d9;
    height: 40px;
    vertical-align: top;
    color:#008100;
}
.recommend-box {
    width: 218px;
    margin-top: 10px;
    border: 1px solid #dad9d9;
    background-color: #fff;
}
.recommend_tit {
    line-height: 35px;
    padding-left: 15px;
    font-size: 14px;
    color: #333;
    background-color: #f9f9f9;
}
.recommend_list {
    margin: 10px 15px;
}
.recommend_list li {
    padding: 15px 0;
    border-bottom: 1px solid #dad9d9;
    overflow: hidden;
}
.rItem_l {
    width: 68px;
    height: 68px;
    border: 1px solid #dad9d9;
    float: left;
}
.rItem_l img {
    width: 100%;
    height: 100%;
    border: 0;
}
.rItem_r {
    width: 103px;
    margin-left: 15px;
    float:left;
}
.goods_name {
    height: 40px;
    line-height: 20px;
    margin: 15px 0;
    font-size: 13px;
    color: #999;
    overflow: hidden;
}
.goods_price {
}
.search_tech-box {
    height: 35px;
    margin: 5px 0;
    padding: 20px 28px;
    background-color: #e0e0e0;
}
.search_tech-box label {
    font-size: 18px;
    font-weight: 900;
    color: #454545;
    vertical-align: middle;
}
.txt {
    padding-left: 10px;
    background-color: #fff;
    border: 1px solid #dad9d9;
    border-radius: 3px;
}
.search_tech_keyword {
    width: 733px;
    height: 35px;
}
.search_tech-btn {
    width: 40px;
    height: 28px;
    margin-left: -41px;
    background: url("../../images/search_tech.png") center no-repeat;
}
.attend-popup{
    width: 250px;
    height: 214px;
    background: #fff;
}
.attend-popup h1{
    line-height: 55px;
    padding-left: 18px;
    font-size: 24px;
    font-weight: 900;
    color: #6d6c6a;
    background-color: #f5f2e6;
    border-bottom: 1px solid #dadada;
}
.attend-number{
    width: 210px;
    margin: auto;
    height: 60px;
    margin-top: 25px;
    border-bottom: 1px solid #dadada;
}
.number-box{
    width: 136px;
    height: 36px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #dadada;
    display: inline-block;
}
.reduce,.add{
    width: 35px;
    display: inline-block;
    border-right: 1px solid #dadada;
    height: 36px;
    color: #90af34;
    line-height: 36px;
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
    cursor: pointer;
}
.number{
    margin-top:-13px;
    width: 46px;
    display: inline-block;
    border-right: 1px solid #dadada;
    height: 36px;
    line-height: 42px;
    font-size: 16px;
    text-align: center;
}
.add{
    border-right: none;
}
.sure-btn{
    width: 140px;
    height: 40px;
    background: #90af34;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    margin: auto;
    display: block;
    margin-top: 18px;
}

.sure-btn:hover{
    background: #ff831e;
}

.course-tail img{
    width: 232px;
    height: 149px;
}
/*.right-center .selected{*/
        /*border:1px solid #fa4837;*/
        /*z-index: 1000;*/
    /*color:#ff831e;*/
/*}*/

.right-center .content .content-right .choose-detail {
    background: #ff831e;
}

.right-center .content .content-right .attend:hover{
    background: #ff831e;
}

.content-text{
    width: auto;
    height: 65px;
}

.content-center h2:hover{
    color:#ff831e;
}

.right{
    margin-bottom: 50px;
}