/*
 * zsy 2016-04-24
 * 子单样式
 */

.order-form{margin-bottom: 10px;padding: 15px 0;background: #f7f7f7;border: 1px solid #e8e8e8;border-radius: 2px;}
.order-form .form-item{width: 117px;}
.hl-o{color: #ff7800;}
.ml-15{margin-left: -15px;}

/* 展示隐藏样式 start */
.order-form .toggle-control{margin: 15px 0 -15px;background: #fff;border-top: 1px solid #e8e8e8;border-radius: 0 0 2px 2px;cursor: pointer;}
.order-form .toggle-control:before{display: block;content: "";width: 20px; height: 20px;margin: 0 auto;}
.order-form .toggle-control.arrow-up:before{background: url("../../../img/common/base/arrow_up.png") center no-repeat;}
.order-form .toggle-control.arrow-down:before{background: url("../../../img/common/base/arrow_down.png") center no-repeat;}
/* 展示隐藏样式 end */

/* panel样式 start */
.order-panel{padding: 0 10px;background: #fff;border: 1px solid #e8e8e8;border-radius: 2px;}
.order-panel .order-panel-foot{padding: 15px 0;border-top: 1px solid #e8e8e8;}
.order-panel .order-panel-head {margin: 0 -10px;border-bottom: 1px solid #ddd;height: 38px;}
.order-panel .tabs-control{ position: relative;}
.order-panel .dropdown-control{position: relative;background: #fff;}
.order-panel .dropdown-control .dropdown-title{line-height: 24px;}
.order-panel .dropdown-control .dropdown-arrow{display: inline-block;width: 20px;height: 24px;vertical-align: middle;background: url("../../../img/common/base/arrow_down.png") center no-repeat;}
.order-panel .dropdown-control .dropdown-menu{display: none;}
.order-panel .dropdown-control .dropdown-menu dt{padding: 0 10px;line-height: 24px;color: #8eb210;}
.order-panel .dropdown-control .dropdown-menu dd{padding: 0 10px;line-height: 24px;white-space: nowrap;}
.order-panel .dropdown-control .dropdown-menu dd a{display:block;width:100%;height: 100%;color: #666;}
.order-panel .dropdown-control .dropdown-menu dd:hover{background: #8eb210;}
.order-panel .dropdown-control .dropdown-menu dd:hover a{color: #fff;}
.order-panel .dropdown-control:hover .dropdown-menu{position: absolute;left: -1px;top: -10px;z-index:111;display: block;min-width: 100%;margin: 0 -11px;padding-top: 10px;background: #fff;border: 1px solid #e8e8e8;}
.order-panel .dropdown-control:hover .dropdown-arrow{background: url("../../../img/common/base/arrow_up.png") center no-repeat;}

/* panel样式 end */


/*
 *zmx  2016-04-18
 添加服务项目样式
 */
.tip{
    font-size: 12px;
    border-radius: 1px;
    color: #fff;
    background: #fa7b7c;
    position: absolute;
    top: -23px;
    line-height: 20px;
    height: 20px;
    padding: 0 20px;
    font-weight: 100;
    font-style: normal;
    display: none;
}
.tip-angl {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-right: 10px solid #fa7b7c;
    border-top: 5px solid transparent;
    position: absolute;
    left: -5px;
    top: 15px;
    display: inline-block;
    border-bottom: 5px solid transparent;
}
.tab-content{
    display: none;
}
.get-service button {
    margin: 10px 0;
}
.order-form .customer-company{
    width: 500px;
}
.select-server{
    padding: 0 16px;
    line-height: 30px;
}
table.yqx-table tr th {
    background: #f9f9f9;
}

.yqx-table .form-item>.fa {
    width: 25px;
}

.yqx-th-2 {
    width: 20px;
}

.yqx-th-5 {
    width: 50px;
}

.yqx-th-9 {
    width: 90px;
}

.yqx-th-10 {
    width: 100px;
}

.yqx-th-12 {
    width: 128px;
}

.yqx-th-6 {
    width: 60px;
}

.yqx-th-7 {
    width: 70px
}

.yqx-th-8 {
    width: 80px;
}

.yqx-table .yqx-input-icon {
    padding-right: 25px;
}
.tabletr-del {
    color: #ee3f02;
    text-decoration: underline;
}
.more-car{
    line-height: 36px;
    cursor: pointer;
}
.order-form .form-data-width{
    width: 322px;
}
.order-form .form-data-width input{
    width: 100%;
}
.service-name-width{
    width: 380px;
}
.form-data-company{
    width: 733px;
}
/*新建服务*/

.tools-bar-new {
    float: right;
}

.tools-bar-new a {
    color: #333;
    cursor: pointer;
    position: relative;
    padding: 0 10px;
    display: inline-block;
}

.tools-bar-new a:first-child::before {
    content: none;
}

.form-item i {
    font-style : normal;
}
.add-new-btn {
    cursor: pointer;
}
.add-new-btn .i-btn {
    padding: 5px;
    font-style: normal;
    line-height: 30px;
}

.tools-bar-new a:before {
    content: "";
    position: absolute;
    width: 1px;
    background: #d2d2d2;
    height: 20px;
    top: 5px;
    left: -1px;
}

.tools-bar-new a:hover {
    border-color: #000;
    color: #d2d2d2;
}

.quick-btn {
    position: relative;
    top: 50%;
    right: 10px;
    color: #333;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}

.quick-btn:hover {
    opacity: .5;
}

.goods-datatr .form-item .fa {
    width: 26px;
}
.form-item .fa.goods-fa {
    border-left: 0;
    line-height: 30px;
    color: black;
}

.order-form .w204{
    width: 204px;
}

.margin-r-10{
    margin-left: 10px;
}