body {
    font-size: 13px;
    background-color:white;
    color:black;
    font-family: "Microsoft Yahei", "微软雅黑", SimHei, Tahoma, Simsun, Arial, Helvetica Neue, Hiragino Sans GB, sans-serif;
}

.content {
    font-size: 14px;
}

.signature {
    font-size: 14px;
    height: 28px;
    margin-bottom: 20px;
}

.strong {
    font-weight: 500;
}

.height-14 {
    height: 14px;
}
.tq_print_logo {
    float: none;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.car-info {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 42px;
}

table {
    width:978px;
    margin:0 auto 6px auto;
}

.padding-5 {
    padding-left: 5px;
}

table th, table td, caption {
    border: 1px solid #000;
    padding: 5px 0;
}

.no-border th, .no-border td, .no-border caption {
    border: 0;
}

table th, table caption {
    font-weight: 500;
}

caption {
    border-bottom: 0;
}

.footer table td {
    padding-left: 7px;
}

i {
    display: inline-block;
    font-style: normal;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.col-1 {
    width: 8.3333333333333333%;
    float:left;
}

.col-2 {
    width: 16.6666666666666666%;
    float:left;
}

.col-3 {
    width: 25%
}
.col-4 {
    width: 33.3333333333333333%;
    float: left;
}

.col-3 {
    width: 25%;
    float: left;
}

.col-6 {
    width: 50%;
    float: left;
}
.col-8 {
    width: 66.6666666666666666%;
    float:left;
}

.col-9 {
    width: 75%;
    float: left;
}

.col-10 {
    width: 83.333333333333333%;
    float: left;
}

.inline-block {
    display: inline-block;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.footer {
    width: 100%;
    margin-top: 20px;
}

.no-float {
    float: none;
}

.footer table caption {
    border: 0;
}

.margin-10 {
    margin-bottom: 10px;
}

.margin-5 {
    margin-bottom: 5px;
}

.car-info i {
    overflow: hidden;
}

.car-info td {
    overflow: hidden;
}

.money-font {
    font-size: 14px;
    font-weight: 500;
    color: black;
    font-style: normal;
}