i {
    font-style: normal;
}

.main .article-tab-box {
    width: 704px;
    background: #f3f4f5;
}

.vertical-line {
    height: 8px;
    width: 1px;
    background: #b2b2b2;
    margin: 0 10px;
    display: inline-block;
}
.home-article {
    background: #fff;
}
.yqx-wrapper {
    width: 100%;
    padding-top: 70px;
    background: #fff;
}

.home-article .banner {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.banner .text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 1004px;
}

.main {
    width: 1004px;
    margin: 0 auto;
}

.article-content {
    width: 704px;
    margin-right: 35px;
    margin-top: 20px;
}

.article-content .article-item:first-child {
    padding-top: 0;
}

.banner {
    background: url('../../../img/page/home/banner-back.png') no-repeat;
}

.banner.news {
    background: url('../../../img/page/home/title/news-back.jpg') no-repeat;
}

.news-title {
    background: url('../../../img/page/home/title/news-title.png') no-repeat;
}

.products-title {
    background: url('../../../img/page/home/title/products-title.png') no-repeat;
}

.banner-title {
    position: relative;
    width: 1004px;
    margin: 0 auto;
}

.banner-title>div {
    bottom: 0;
    height: 200px;
    width: 230px;
}

.news .banner-front {
    bottom: 0;
}

.banner-front {
    position: absolute;
    bottom: -10px;
    right: -30px;
}

.banner h2 {
    font-size: 45px;
    margin-bottom: 19px;
    color: #fff;
}

.banner h3 {
    font-size: 18px;
    color: #fff;
}

.home-article .menu-bar {
    height: 45px;
    line-height: 45px;
}

.article-item {
    padding: 20px 0;
    border-bottom: 1px solid #dcdcdc;
    position: relative;
}

.article-item .text {
    display: inline-block;
    height: 90px;
    vertical-align: top;
    width: 542px;
}

.article-item h3 {
    font-family: "Microsoft YaHei", Tahoma, Arial, Helvetica Neue, Hiragino Sans GB, sans-serif;
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
}

.article-item h4 {
    margin-bottom: 6px;
}

.article-item p {
    line-height: 20px;
    height: 40px;
    font-size: 14px;
    overflow: hidden;
}

.article-item>img {
    height: 90px;
    width: 135px;
    display: inline-block;
    margin-right: 20px;
    background: #00a0ea;
}

.article-item .date {
    font-family: Arial, Helvetica Neue, Hiragino Sans GB, sans-serif;
}

.article-item .view {
    position: absolute;
    right: 0;
    bottom: 22px;
    color: #666;
}

.view img{
    vertical-align: text-top;
}

.link-box {
    border: 1px solid #c9c9c9;
    height: 25px;
    border-radius: 11px;
    margin-top: 12px;
    display: inline-block;
    line-height: 25px;
    padding: 0 10px;
    cursor: pointer;
}

a {
    color: inherit;
}

.link-box a:hover {
    opacity: .8;
}

.link-box img {
    margin-right: 5px;
    vertical-align: text-bottom;
}

.preview-box {
    background: #f3f4f5;
    width: 263px;
    display: inline-block;
}

.preview-box h3, .preview-box li>a{
    font-family: "Microsoft YaHei", Tahoma, Arial, Helvetica Neue, Hiragino Sans GB, sans-serif;
    color: #333;
}

.article-item h3:hover, .preview-box li a:hover {
    color: #0084ea
}

.preview-box ul {
    padding-top: 20px;
    border-top: 1px solid #d2d2d2;
}
.preview-box li {
    font-size: 14px;
    margin-bottom: 30px;
}

.preview-box li>a {
    padding-left: 20px;
    position: relative;
    display: block;
    width: 262px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.preview-box li>a:before {
    background: #c9c9c9;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    position: absolute;
    left: 10px;
    top: 5px;
    display: block;
    content: '';
}

.preview-box h3 {
    font-size: 16px;
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
}

.article-tab-box {
    border: 1px solid #d2d2d2;
    display: inline-block;
    border-top-left-radius: 2px;
    border-top-right-radius:2px;
}

.article-tab {
    width: 100px;
    height: 40px;
    float: left;
    line-height: 40px;
    background: #f3f4f5;
    text-align: center;
    font-size: 16px;
    color: #666;
    font-family: "Microsoft YaHei", Tahoma, Arial, Helvetica Neue, Hiragino Sans GB, sans-serif;
    cursor: pointer;
}

.article-tab:hover, .article-tab.current-tab {
    border-top: 3px solid #2c8cfa;
    background: #fff;
    margin-top: -1px;
    color: #2c8cfa;
    line-height: 35px;
    height: 41px;
    border-left: 1px solid #d2d2d2;
}

.article-tab:last-child:hover, .article-tab:last-child.current-tab {
    border-right: 1px solid #d2d2d2;
    border-top-right-radius:2px;
}

.article-tab:first-child:hover, .article-tab:first-child.current-tab {
    border-right: 1px solid #d2d2d2;
    border-top-left-radius: 2px;
    border-left: 0;
}

