/**
 * Created by sky on 2016/12/20.
 */

// 放大
@keyframes dgZoomIn {
  0% {
    transform-origin: 50% 50%;
    transform: translate(-50%, -50%) scale(0);
  }
  80% {
    transform-origin: 50% 50%;
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform-origin: 50% 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

// 旋转
@keyframes dgRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//// 放大动画
$zoomInAnimationName: dgZoomIn;
$zoomInAnimationDuration: .8s;
$zoomInAnimationTimingFunction: ease-in;

$zoomInAnimation: $zoomInAnimationName $zoomInAnimationDuration $zoomInAnimationTimingFunction;


// 关闭按钮图片
$yunuiDialogCloseImg: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC0AAAAtCAYAAAA6GuKaAAACdElEQVRYhc3ZTW7TQBjG8T8jtggqteIE3IET0CQrKGIBFV36TpkdVM0C8bXBTu9CD4CURSX2FYsZqyZ5X3vG8ybus6k6k1a/jsb2M+6j5XL5ErgEngM/gQsOmKqqBj/jvf8EvAH+ABePgRo4ivMfgRNgvidjdrz3NfeeJ0DtuAe3mQHNIWFatsBtnjlgJXx+crgCBlg54BxYC5OTwXvA66qqzl38Zo4Ol8b3lgHwHMB1BjX4qTJunhQw/I+GCeHe+4YEMOyiYQJ4BM+EqWYbDDIaDggfAC+kn9HQEODS3cMSng2GfjTAAh1+nW4Ts2YEGIbREODSyr5SxlPSEP7wnfEhMKShwXaPj9oS3aSiwQaugdepYMhDQxm8D5zVKnPREODSRXiK3lVqjMAwDk0ESHCpZKmPZmV8MGPR0A//ARwD35Bh18p4UkrQoLfA18Bv4EyY0+7PySlFg35xPhXGRm+JbizQECBfgTtl/i7Om5w9rdAA74CNMreJ8yaxRH8hXHxSjgkrbRIrdENYSe33OeAtRu3QAq096W6FMZNaW4rWbl/fgRfx63aKa20JWq2XhK2wQd8SJbV2NFqtl4T+3Y350W0MWi0/7ILbqHDvfTY8F11SfszgOWiLtqbW2ngqT0oq2rJequ0wFZ6C/oV9vSyCD6Fr5IuruF6i19pBeB/a/MQhRNvjs76LU0MfAgxAVVXaiqt3FQmtvr1UxosTD7fJ8G1035Nur/88yoF30TmP5r0kFd6iJwe3SYE74IoHAm4T4eLbWu/9ygEfhMnJwG3iuz1pxd87dk8Yk4PbKFvl1hGAN8Bf4DMPBNwmwi8Jvhtg8Q+dD++x2Wn/YgAAAABJRU5ErkJggg==";

.yunui-dialog-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 921204;
  width: 100%;
  height: 100%;

  .yunui-dialog-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
  }

  .yunui-dialog-loading {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    .yunui-dialog-loading-icon {
      width: 1.5rem;
      height: 1.5rem;
      animation: dgRotate 2s linear 0s infinite;
      pointer-events: none;
      user-select: none;
    }
  }

  .yunui-dialog-toast {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    max-width: 90%;
    padding: .08rem .12rem;
    font-size: .4rem;
    text-align: center;
    word-break: break-all;
    white-space: normal;
    color: #fff;
    background: rgba(0, 0, 0, .7);
    border: .05rem solid rgba(0, 0, 0, .3);
    border-radius: .12rem;
    pointer-events: none;
    user-select: none;
  }

  .yunui-dialog-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    box-shadow: 0 0 3px 4px #333;
  }

  //.yunui-dialog-close {
  //  position: absolute;
  //  right: 0;
  //  top: 0;
  //  z-index: 1;
  //  width: 1.19rem;
  //  height: 1.25rem;
  //  background: url($yunuiDialogCloseImg) center/1.19rem 1.25rem no-repeat;
  //}

  .dgZoomIn {
    animation: $zoomInAnimation;
  }
}
