.order-head .headline{
    line-height: 45px;
    font-size: 16px;
}
.font-normal{
    font-weight: normal;
}

.order-body{
    padding: 20px 0;
    background-color: #fff;
}
.w100{
    width: 100px;
}
.card-btn,.save{
    margin-left: 106px;
}
.choose-coupon,.send-num{
    margin-bottom: 15px;
}
.card-btn{
    margin-top: 5px;
}