/*
 * zmx 2016/06/01
 * 供应商付款页面样式
*/
/*标题右侧标签 start*/
.tag{ width: 170px; height: 43px; background: #fff; border:1px dashed #ddd; margin-left: 10px; margin-bottom: 5px; padding: 5px 10px;}
.tag .ico{ width: 26px; height: 26px; float: left; margin: 0 12px 0 5px; background: url("../../../../img/page/settlement/pay/tag-ico.png") no-repeat;}
.tag .ico1{ background-position: 3px 0;}
.tag .ico2{ background-position: -28px 0;}
.tag .ico3{ background-position: -60px 0;}
.tag .tagcon{height: 43px; overflow: hidden; float: left;}
.tag .tagcon .tag-title{ color: #333; line-height: 16px;}
.tag .tagcon .tag-money{ font-family: arial, verdana, sans-serif; font-size: 14px; color: #333; font-weight: bold;}
/*标题右侧标签 end*/


/*表单部分 start*/
.search-box{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 10px;
}
.form-widh{ width: 165px;}
/*表单部分 end*/

/*操作按钮 start*/
.btn-box{
    height: 36px;
}
.btn-box a{
    line-height: 34px;
    color: #474747;
    font-size: 12px;
    padding: 0 10px;
}
.btn-box a:hover{
    color: #9fc527;
}
.btn-box a.hover{
    color: #9fc527;
}
.btn-box i{
    margin-right: 4px;
}
/*操作按钮 end*/

/*表格 start*/
.tableCon a{
    color: #9fc527;
    text-decoration: underline;
}
/*表格 end*/
.tableCon .inlist-link{ color: #0470f5;}
.red{color:#f25e61;}
.tag-title{ float: left; line-height: 43px;}

/*金额统计*/
.search-result{
    line-height: 29px;
    border-bottom: 1px solid #cacaca;
    padding-left: 10px;
    color: #333;
    background: #fff;
}
.search-result span{
    color: #666;
    margin-left: 10px;
}