/**
* Create by zmx 2016/12/20
* 集客效果
*/
.form-box{
    background: #fff;
    border: 1px solid #cacaca;
    padding: 10px;
}
.fast-time{
    display:inline-block ;
    margin-left: 10px;
}
.fast-time a{
    color: #333;
    text-decoration: underline;
}
.date-select{
    padding-bottom: 10px;
}
.staff-box{
    padding-top: 10px;
    border-top: 1px solid #cacaca;
}
.staff-box h3{
    display: inline-block;
    font-size: 12px;
    padding-top: 4px;
}
.staff-box ul{
    display: inline-block;
    max-width: 730px;
    vertical-align: top;
}
.staff-box li{
    display: inline-block;
    height: 26px;
    padding: 0 15px;
    background: #f9f9f9;
    border:1px solid #cacaca;
    line-height: 26px;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 10px;
}
.staff-box .staff-current{
    background: #e2e7d0;
    border: 1px solid #607b0a;
    position: relative;
}
.staff-box .staff-current:after{
    content:"";
    display: inline;
    width: 18px;
    height: 16px;
    background: url("../../../../img/page/marketing/gather/card-hover.png") no-repeat;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.tab{
    height: 39px;
    margin-top: 10px;
}
.tab span{
    display: block;
    float: left;
    margin-right: 3px;
    width: 95px;
    height: 39px;
    background: #ddd;
    color: #333;
    text-align: center;
    line-height: 39px;
    cursor: pointer;
}
.tab .tab-hover{
    border-left:1px solid #cacaca;
    border-right:1px solid #cacaca;
    border-top: 2px solid #607b0a;
    height: 40px;
    background: #fff;
    font-weight: bold;
    margin-bottom: -1px;
}
.no-data{
    border-bottom: 1px solid #cacaca;
    text-align: center;
    line-height: 100px;
    background: #fff;
}
