

.bx_cont {
    padding: 5px 0 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-x: auto;
}
.bx_cont_head{border:1px solid #cdcdcd;border-bottom: none;}
.bx_cont_head h1{height: 30px;font-size: 14px;float: left;border-right: 1px solid #cdcdcd;font-weight: bold;line-height: 30px;padding: 5px 15px;}
.bx_cont table {
    background: #FFFFFF;
    width:100%;
}

.bx_cont table th, .bx_cont table td {
    padding: 10px 14px;
    white-space: nowrap;
    text-align: center;
    color: #333333;
    border: 1px solid #cdcdcd;
}

.bx_cont table th {
    font-size: 14px;
}
.qxy_search_form .advanced_search:before{
    border:none;
}

