.detail-box .show-grid > .form-item {
    width: 31%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.detail-box .form-item {
    margin-left: 0;
}

.time-box {
    display: inline;
}

.detail-box .money-count {
    margin-bottom: 7px;
}

.show-grid.order-num-box .form-item, .show-grid.money-count .form-item {
    width: auto;
}

.time-box {
    color: #999;
}

.form-item label {
    margin-right: 0;
}

.detail-box .money-count label {
    margin: 0;
}

.form-item label {
    width: 105px;
    height: 36px;
    line-height: 36px;
}

.show-grid {
    margin: 0;
}

.yqx-table td {
    line-height: 20px;
    vertical-align: top !important;
}

.tc-2 {
    width: 100px;
}

.tc-3 {
    width: 210px;
}

.tc-5, .tc-7 {
    width: 80px;
}

.tc-8 {
    width: 130px;
}

.yqx-table .ellipsis-2 {
    max-height: 36px;
}
