/* 淘汽缺件配件样式 start */
	.qxy_tqmall_list{}
	.qxy_tqmall_list table{width: 100%;font-size: 14px;border: 1px solid #cdcdcd;}
	.qxy_tqmall_list table tbody{background: #f9f9f9;padding: 0 10px;}
	.qxy_tqmall_list th{height: 35px;line-height:35px;border-bottom: 1px solid;background: #efefef;border-bottom: 1px solid #cdcdcd;font-weight: bold;text-align:left;}
	.qxy_tqmall_list th.col2{width:400px;}
	.qxy_tqmall_list td{padding:10px 0 5px 0;vertical-align: top;font-size: 12px;border-bottom: 1px dotted #cdcdcd;}
	.qxy_tqmall_list td p{margin-top:10px;line-height:20px;}
	.qxy_tqmall_list span.red_bag{display: inline-block;height: 24px;line-height: 24px;text-align: center;color: #fff;background: #f53b43;border-radius: 3px;padding: 0 10px;}
	.qxy_tqmall_list td img{margin: 5px 10px 10px 10px;}
	.qxy_tqmall_list .buy{display: inline-block;height: 24px;line-height: 24px;text-align: center;color: #fff;background: #d01113;border: 1px solid #b60404;border-radius: 2px;padding: 0 10px;}
	.qxy_tqmall_list .buy:hover{color: #000;}
	.qxy_tqmall_list .buy_disabled{display: inline-block;height: 24px;line-height: 24px;text-align: center;background: #b9b9b9;border: 1px solid #999;color: #fff;cursor: not-allowed;padding: 0 10px;border-radius: 2px;}
	.qxy_tqmall_list tr:last-child td{border-bottom: none;}
	.qxy_tqmall_list span.delete{text-decoration:line-through;}
	.qxy_tqmall_list span.finished{color:#FFB90F;}
	.qxy_tqmall_list .whiteBag{display: inline-block;height: 24px;line-height: 24px;text-align: center;color: #000;background: #ffffff;border: 1px solid #c0c0c0;border-radius: 2px;padding: 0 10px;}
	.qxy_tqmall_list .whiteBag:hover{color: #ff0000;}
	.qxy_tqmall_list .whiteBag_disabled{display: inline-block;height: 24px;line-height: 24px;text-align: center;background: #b9b9b9;border: 1px solid #999;color: #fff;cursor: not-allowed;padding: 0 10px;border-radius: 2px;}

/* 淘汽缺件配件样式 end */
	.order_list_toolbars {margin-bottom:20px;}
	.order_list_toolbars a,
	.order_list_toolbars span{
		display:inline-block;
		text-align:center;
		line-height:25px;
		padding:0px;
	}
	.order_list_toolbars a{width:85px;}
	.order_list_toolbars a b{font-weight:bold;}
	.order_list_toolbars a.current{color: #4bc8f4;font-weight: bold;}
	.qxy_tqmall_mb10px {margin-bottom:10px;}
	.vabottom {vertical-align: bottom;}
	.m015 {margin:0px 15px;}
	.search_btn {margin:0;background:#86ba4a;color:#ffffff;}
	.search_tqmall_btn {margin:0;background:#f89b37;color:#ffffff;}